.thumbnail{
    height: 150px;
    width: 200px;
    border-radius: 4%;
}


.navbar-brand {
    text-align: center;
}

.jumbotron {
    background-color: rgb(255, 255, 255); 
    border-radius: 2%;
}